p {
	color: rgb(2, 47, 8);
}

h1 {
	text-shadow: rgb(36, 104, 52) 1px 0 10px;
	background-color: #0b7000;
	color:#effff2;

}

h2 {
	
    border:  rgb(#0b7000);
	margin: 5px;
	font-family: cursive;
	color:#0c3308;
	background: linear-gradient(0.25turn, rgb(243, 251, 239), #0b7000);
}
h3{
    color:#206e17;
	border: solid; 
    border-bottom: 2rem solid;
    
}
a:link {
	color: rgb(1, 152, 169);
  }
  
  a:visited {
	color: rgb(21, 107, 21);
  }
  
  a:hover {
	text-decoration: none;
  }
  *{
	background: content-box radial-gradient(rgba(179, 179, 179, 0.337), rgba(199, 233, 198, 0.476));
  }
  P{
	font-size: 120%;
	background-color:#daf0d7;
	color:rgb(19, 40, 16)
  }
  p.caution{
	line-height: 150%;
  }
  .time{
	text-align: center;
	font-size: 200%;
  }
