.a{
    border: solid; 
    border-bottom: 2rem solid;
    color:#0b7000;
    text-align: center; /* オプション: 内部のテキストも中央揃え */
    background: linear-gradient(to right, rgb(229, 255, 238), rgb(228, 252, 253));
}

h3{
    background-color:#0b7000;
    color:#effff2;
}
.d{
    background-color:#0b7000;
    color:#effff2;
    font-size: 200%;
}
td{
    font-weight: normal;
    font-size: 120%;
}
tr{
    color: rgb(210, 241, 210);
    background-color:#085202;
    font-size: 150%;
    font-weight: bold;
}

#ansewr{
    font-size: 150%;
    color: rgb(221, 237, 221);
    background-color:#b1c8ae;
}
h2.tv{
    border: dashed #0b7000;
    text-align: center;
    font-weight: lighter;
}

.kennsaku{
    font-size: 150%;
    
}
*{
    background-color:#e8ffe6b0;
}
#answer{
    font-size: 120%;
    text-align: right;
}
